################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SingletonDesginPattern/.vs/SingletonDesginPattern
/SingletonDesginPattern/SingletonDesginPattern/obj
